.layout-wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: var(--bg-admin);
}

.layout-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  
  .content-area {
    padding: 30px;
    /* Aquí actuará la fuente Inria Sans que pusimos en el body global */
  }
}