<div class="dashboard-container">
    <header class="dashboard-header">
        <h1>Bienvenido al Panel Calma</h1>
        <p>Visualizacion estrategica de Fundación Calma y sus dependencias</p>
    </header>

    <div class="stats-grid">
        <div class="stat-card">
            <div class="stat-icon users"><i class="pi pi-users"></i></div>
            <div class="stat-data">
                <span class="label">Proyectos Realizados</span>
                <span class="number text-blue">125</span>
            </div>
        </div>

        <div class="stat-card">
            <div class="stat-icon areas"><i class="pi pi-map"></i></div>
            <div class="stat-data">
                <span class="label">Convenios Vigentes</span>
                <span class="number text-yellow">4</span>
            </div>
        </div>

        <div class="stat-card">
            <div class="stat-icon docs"><i class="pi pi-chart-line"></i></div>
            <div class="stat-data">
                <span class="label">Desempeño del equipo</span>
                <span class="number text-green">18%</span>
            </div>
        </div>
    </div>

    <div class="charts-grid">

        <div class="detail-box">
            <h3>Actividad Reciente</h3>
            <div class="placeholder-chart">
                <span>Informacion</span>
            </div>
        </div>

        <div class="detail-box">
            <h3>Actividades Pendientes, Planificacion, Ejecucion, Completadas</h3>
            <div class="placeholder-chart circle">
                <span>Gráfico Circular aquí</span>
            </div>
        </div>

        <div class="detail-box">
            <h3>Comunicacion en Negociacion, Firmados, Descartados</h3>
            <div class="placeholder-chart circle">
                <span>Gráfico Circular aquí</span>
            </div>
        </div>

        <div class="detail-box">
            <h3>Desempeño del equipo</h3>
            <div class="placeholder-chart">
                <span>Gráfico de Barras aquí</span>
            </div>
        </div>

    </div>
</div>